@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans", "ヒラギノ角ゴシック", YuGothic, "Yu Gothic", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic";
  line-height: 1;
}

h1,
h2,
h3,
h4,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
ul,
ol,
dl,
li,
figure {
  border: 0;
  box-sizing: border-box;
  color: inherit;
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-weight: 500;
}

h1 {
  word-wrap: normal;
  font-size: 3.2rem;
  line-height: 1.5;
}

h2 {
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 56px;
  text-align: center;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.8rem;
}

p {
  word-wrap: break-word;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.6;
}

span {
  font-size: 1.2rem;
}

section {
  padding: 80px 0;
}

@media screen and (max-width: 767px) {
  section {
    padding: 40px 0;
  }
}

*:focus {
  outline: none;
}

.accordion-close {
  font-size: 1.6rem;
}

.accordion-close--career {
  color: #2f87bf;
  cursor: pointer;
  display: inline-block;
  padding: 8px 0;
}

.br-sp {
  display: none;
}

@media screen and (max-width: 767px) {
  .br-sp {
    display: inline;
  }
}

.br-tab {
  display: none;
}

@media screen and (max-width: 1015px) {
  .br-tab {
    display: inline;
  }
}

.btn {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  transition: 0.2s ease-in-out;
}

.btn .btn__txt {
  display: block;
  font-size: 1.6rem;
  padding: 16px 24px;
}

.btn--contact {
  background-color: #e79c2a;
}

.btn--contact:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

.btn--works {
  transition: none;
}

.btn--works:hover {
  opacity: 0.7;
}

.career {
  margin-bottom: 72px;
}

.career__ttl {
  font-size: 2.4em;
  margin-bottom: 24px;
}

.career__year {
  width: 60px;
}

.career-cotent {
  border-top: hidden !important;
}

.career__content-ttl {
  border-bottom: 1px solid #000;
  display: inline;
  font-size: 1.6rem;
  line-height: 1.8;
  padding-bottom: 4px;
}

.career__content-textarea {
  margin: 16px 0 0 0;
}

.career__content-txt {
  font-size: 1.4rem;
  margin-bottom: 8px;
}

.career-cotent__detail {
  margin-bottom: 24px;
}

.career-cotent__detail-item {
  margin: 16px 0 32px;
}

.career-cotent__detail-item:nth-child(2) {
  margin-bottom: 0;
}

.header {
  background: rgba(255, 255, 255, 0);
  height: 60px;
  position: relative;
  top: 0;
  width: 100%;
}

.header-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
}

.header-logo {
  color: #fff;
  font-size: 1.6rem;
}

.header-nav {
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }
}

.header-nav__list {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.header-nav__list-item {
  margin-right: 40px;
}

.header-nav__list-link {
  color: #fff;
  font-size: 1.6rem;
}

.header-nav__list-link:hover {
  opacity: 0.5;
}

.inner {
  height: 100%;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 40px;
  width: 1016px;
}

@media screen and (max-width: 767px) {
  .inner {
    padding: 0 20px;
  }
}

.mv {
  background: linear-gradient(45deg, rgba(129, 234, 219, 0.9), #98e1fb, rgba(47, 135, 191, 0.9)), url(../img/mv_bg.jpg) center center;
  background-size: cover;
  height: calc(100vh - 160px);
  margin-top: -60px;
}

@media screen and (max-width: 767px) {
  .mv {
    height: calc(100vh - 80px);
    text-align: center;
  }
}

.mv .mv-table {
  display: table;
  height: 100%;
  width: 100%;
}

.mv .mv-table-cell {
  color: #fff;
  display: table-cell;
  vertical-align: middle;
}

.mv .mv-ttl {
  font-size: 3.6em;
  font-weight: 700;
  margin-bottom: 32px;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .mv .mv-ttl {
    font-size: 2.4em;
  }
}

.mv .mv-txtarea {
  margin-bottom: 64px;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .mv .mv-txtarea {
    margin-bottom: 48px;
  }
}

.mv .mv-txt {
  font-size: 2.4em;
}

@media screen and (max-width: 767px) {
  .mv .mv-txt {
    font-size: 1.6em;
  }
}

.owl-prev,
.owl-next {
  border: 0px solid black;
  display: block !important;
  height: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
}

.owl-prev {
  left: -20px;
}

.owl-next {
  right: -20px;
}

.owl-prev i,
.owl-next i {
  color: #2f87bf;
  transform: scale(4, 5);
}

.owl-nav .disabled i {
  color: #d1e6f4 !important;
}

.profile {
  background-color: #f5fcff;
}

.profile-list {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 40px;
}

.profile-list-top {
  margin-right: 32px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .profile-list-top {
    display: block;
    margin: 0 auto;
    margin-bottom: 24px;
  }
}

.profile-img {
  background: url(../img/profile-img.jpg) center center no-repeat;
  background-color: red;
  background-size: 132%;
  border-radius: 50%;
  height: 160px;
  margin-bottom: 16px;
  width: 160px;
}

@media screen and (max-width: 767px) {
  .profile-img {
    margin-bottom: 8px;
  }
}

.profile-textarea {
  border: solid 2px #555;
  border-radius: 5px;
  box-sizing: border-box;
  max-width: 100%;
  min-width: 120px;
  padding: 16px;
  position: relative;
  width: calc(80% - 32px);
}

@media screen and (max-width: 767px) {
  .profile-textarea {
    width: 100%;
  }
}

.profile-textarea:before {
  border: 12px solid transparent;
  border-right: 12px solid #fff;
  content: "";
  left: -24px;
  margin-top: -12px;
  position: absolute;
  top: 50%;
  z-index: 2;
}

.profile-textarea :after {
  border: 14px solid transparent;
  border-right: 14px solid #555;
  content: "";
  left: -30px;
  margin-top: -14px;
  position: absolute;
  top: 50%;
  z-index: 1;
}

.profile-textarea__txt {
  font-size: 1.6em;
}

.profile-textarea__txt:first-child {
  margin-bottom: 8px;
}

.profile-career {
  margin-top: 48px;
  width: 100%;
}

.service-list {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.service-list__item {
  margin: 0 0 48px 0;
  padding: 8px;
  position: relative;
  width: 33.333333%;
}

.service-list__item:nth-child(3n) {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .service-list__item:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .service-list__item {
    margin-right: 0;
    width: 100%;
  }
}

.service-list__icon {
  color: #2f87bf;
  font-size: 2.4em;
  left: 0;
  position: absolute;
  top: 0;
}

.service-list__disc {
  padding-left: 48px;
}

@media screen and (max-width: 767px) {
  .service-list__disc {
    padding-left: 32px;
  }
}

.service-list__ttl {
  margin-bottom: 32px;
}

.service-list__txt {
  font-size: 1.6em;
  font-weight: 300;
}

.service-skill {
  margin-left: 48px;
}

@media screen and (max-width: 767px) {
  .service-skill {
    margin-left: 0;
  }
}

.service-skill__ttl {
  font-size: 2.4em;
  margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .service-skill__ttl {
    text-align: center;
  }
}

.service-skill__txt {
  margin-left: 16px;
}

.skill__ttl {
  font-size: 2.4em;
  margin-bottom: 24px;
}

.skill__item {
  text-align: center;
}

.skill__img {
  height: 88px;
  margin-bottom: 8px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .skill__img {
    height: 44px;
  }
}

.skill__img01 {
  background: url(../img/skill-img01.svg) center center no-repeat;
  background-size: contain;
}

.skill__img02 {
  background: url(../img/skill-img02.svg) center center no-repeat;
  background-size: contain;
}

.skill__img03 {
  background: url(../img/skill-img03.svg) center center no-repeat;
  background-size: contain;
}

.skill__img04 {
  background: url(../img/skill-img04.svg) center center no-repeat;
  background-size: contain;
}

.skill__img05 {
  background: url(../img/skill-img05.svg) center center no-repeat;
  background-size: contain;
}

.skill__img06 {
  background: url(../img/skill-img06.svg) center center no-repeat;
  background-size: contain;
}

.skill__img07 {
  background: url(../img/skill-img07.svg) center center no-repeat;
  background-size: contain;
}

.skill__img08 {
  background: url(../img/skill-img08.svg) center center no-repeat;
  background-size: contain;
}

.skill__img09 {
  background: url(../img/skill-img09.svg) center center no-repeat;
  background-size: contain;
}

.skill__img10 {
  background: url(../img/skill-img10.svg) center center no-repeat;
  background-size: contain;
}

.skill__img11 {
  background: url(../img/skill-img11.svg) center center no-repeat;
  background-size: contain;
}

.skill__img12 {
  background: url(../img/skill-img12.svg) center center no-repeat;
  background-size: contain;
}

.skill__img13 {
  background: url(../img/skill-img13.svg) center center no-repeat;
  background-size: contain;
}

.skill__img14 {
  background: url(../img/skill-img14.svg) center center no-repeat;
  background-size: contain;
}

.skill__img15 {
  background: url(../img/skill-img15.svg) center center no-repeat;
  background-size: contain;
}

.skill__img16 {
  background: url(../img/skill-img16.svg) center center no-repeat;
  background-size: contain;
}

.skill__img17 {
  background: url(../img/skill-img17.svg) center center no-repeat;
  background-size: contain;
}

.skill__img18 {
  background: url(../img/skill-img18.svg) center center no-repeat;
  background-size: contain;
}

.skill__img19 {
  background: url(../img/skill-img19.svg) center center no-repeat;
  background-size: contain;
}

.skill__img20 {
  background: url(../img/skill-img20.svg) center center no-repeat;
  background-size: contain;
}

.skill__name {
  font-size: 1.2em;
  line-height: 2em;
}

.sns__link {
  font-size: 2.4rem;
  margin-right: 16px;
}

.sns__link:last-child {
  margin-right: 0;
}

.sns__link:hover {
  opacity: 0.5;
}

.table {
  border-collapse: collapse;
  font-size: 1.6em;
  table-layout: fixed;
  width: 100%;
}

.table-th {
  width: 20px;
}

.table-td {
  padding: 8px 0;
}

.works-list {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.works-list__item {
  margin: 0 0 48px 0;
  padding: 8px;
  position: relative;
  width: 33.333333%;
}

.works-list__item:nth-child(3n) {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .works-list__item:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .works-list__item {
    margin-right: 0;
    width: 100%;
  }
}

.works-list__disc {
  padding: 8px;
}

.works-list__ttl {
  margin-bottom: 16px;
}

.works-list__txt {
  font-size: 1.6em;
  font-weight: 300;
  margin-bottom: 8px;
}

.works-list__img {
  margin-bottom: 8px;
  width: 100%;
}

.works-list__cat {
  font-size: 1.4em;
}

.works-list__cat-txt {
  color: #2f87bf;
  font-size: inherit;
  margin: 0 4px;
}

.works-list__link {
  margin-top: 48px;
  padding-right: 16px;
  text-align: right;
}

.works-list__link-txt {
  font-size: 1.4em;
  padding-bottom: 2px;
}

.works-list__link-txt:hover {
  border-bottom: 1px solid #000;
}

.works-btn {
  display: block;
  text-align: center;
}
