@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans', 'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic';
  line-height: 1;
}

h1,
h2,
h3,
h4,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
ul,
ol,
dl,
li,
figure,
blockquote {
  border: 0;
  box-sizing: border-box;
  color: inherit;
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  color: #3a3a59;
  font-family: '游ゴシック体', YuGothic, '游ゴシック', 'Yu Gothic', 'メイリオ', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', sans-serif;
  font-weight: 500;
}

h1 {
  word-wrap: normal;
  font-size: 3.2rem;
  line-height: 1.5;
}

h2 {
  font-size: 3.2rem;
  margin-bottom: 56px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 2.4rem;
  }
}

h3 {
  font-size: 1.8rem;
  letter-spacing: 0.15rem;
}

h4 {
  font-size: 1.8rem;
}

p {
  word-wrap: break-word;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.6;
}

@media screen and (max-width: 767px) {
  p {
    font-size: 1.4em;
  }
}

span {
  font-size: 1.2rem;
}

section {
  border-bottom: 1px solid #2f87bf;
  padding: 80px 0;
  z-index: 10;
}

@media screen and (max-width: 767px) {
  section {
    padding: 48px 0;
  }
}

*:focus {
  outline: none;
}

.biz-hour {
  margin: 72px 0 48px 0;
}

.biz-hour__ttl {
  font-size: 2.4rem;
  margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .biz-hour__ttl {
    font-size: 1.8rem;
    text-align: center;
  }
}

.br-sp {
  display: none;
}

@media screen and (max-width: 767px) {
  .br-sp {
    display: inline;
  }
}

.br-tab {
  display: none;
}

@media screen and (max-width: 1015px) {
  .br-tab {
    display: inline;
  }
}

.btn {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  transition: 0.2s ease-in-out;
}

.btn .btn__txt {
  display: block;
  font-size: 1.6rem;
  padding: 16px 24px;
}

.btn--contact {
  background-color: #e79c2a;
  color: #fff;
}

.btn--contact:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  opacity: 0.9;
  transform: translateY(3px);
}

.btn--works {
  transition: none;
}

.btn--works:hover {
  opacity: 0.7;
}

.career {
  margin-bottom: 64px;
}

.career__ttl {
  font-size: 2.4rem;
  margin-bottom: 24px;
}

@media screen and (max-width: 767px) {
  .career__ttl {
    font-size: 1.8rem;
    text-align: center;
  }
}

.career-list {
  font-size: 1.6rem;
}

.career-list__item {
  margin-bottom: 24px;
  padding-left: 16px;
}

@media screen and (max-width: 767px) {
  .career-list__item {
    margin-bottom: 32px;
  }
}

.career-list__item-top {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  font-size: 1.6rem;
  justify-content: flex-start;
  line-height: 1.4;
  margin: 0 0 8px;
}

@media screen and (max-width: 767px) {
  .career-list__item-top {
    flex-direction: column;
    font-size: 1.4rem;
    margin-bottom: 0;
  }
}

.career-list__item-year {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .career-list__item-year {
    margin: 0 0 4px 0;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .career-list__item-name {
    margin-bottom: 4px;
    width: 100%;
  }
}

.career-list__item-toggle {
  color: #2f87bf;
  cursor: pointer;
  font-size: 1.6rem;
  margin-left: 8px;
  padding: 8px;
}

@media screen and (max-width: 767px) {
  .career-list__item-toggle {
    font-size: 1.4rem;
    margin-left: 0;
    padding-left: 0;
  }
}

.career-list__item-toggle:hover {
  opacity: 0.5;
}

.career-list__item-toggle-txt {
  display: inline;
  font-size: inherit;
}

.career-list__item-bottom {
  margin: 16px 0 16px 16px;
}

@media screen and (max-width: 767px) {
  .career-list__item-bottom {
    font-size: 1.4rem;
    margin-bottom: 0;
  }
}

.career-list__item-content:first-child {
  margin-bottom: 32px;
}

.career-list__item-ttl-wrapper {
  margin-bottom: 16px;
}

.career-list__item-ttl {
  border-bottom: 1px solid #000;
  display: inline;
  line-height: 1.8;
  padding-bottom: 4px;
}

.career-list__item-txt {
  font-size: 1.4rem;
  margin-bottom: 8px;
}

.career-cotent {
  border-top: hidden !important;
}

.career__content-ttl {
  border-bottom: 1px solid #000;
  display: inline;
  font-size: 1.6rem;
  line-height: 1.8;
  padding-bottom: 4px;
}

.career__content-textarea {
  margin: 16px 0 0 0;
}

.career__content-txt {
  font-size: 1.4rem;
  margin-bottom: 8px;
}

.career-cotent__detail {
  margin-bottom: 24px;
}

.career-cotent__detail-item {
  margin: 16px 0 32px;
}

.career-cotent__detail-item:nth-child(2) {
  margin-bottom: 0;
}

.contact {
  background-color: #f5fcff;
}

.contact__ttl {
  margin-bottom: 16px;
}

.contact__txt {
  font-size: 1.4rem;
  margin: 4px 0 0 8px;
}

@media screen and (max-width: 767px) {
  .contact__txt {
    font-size: 1.2rem;
    padding: 0 4px;
  }
}

.drawer-hamburger {
  border-radius: 50%;
  display: none;
  padding: 16px !important;
  padding: 8px 10px 20px !important;
  right: 8px !important;
  top: 8px !important;
  width: 24px !important;
}

@media screen and (max-width: 767px) {
  .drawer-hamburger {
    display: block;
  }
}

.drawer-hamburger-icon {
  background-color: #3a3a59;
  text-align: center;
  width: 24px;
}

.drawer-hamburger-icon::before {
  background-color: #3a3a59;
  top: -6px;
}

.drawer-hamburger-icon::after {
  background-color: #3a3a59;
  top: 6px;
}

.drawer-menu-item {
  color: #3a3a59;
  font-size: 1.4rem;
  margin: 0 8px 8px 8px;
}

.footer {
  padding: 16px 0;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .footer__txt {
    font-size: 1.4rem;
  }
}

.form {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  color: #3a3a59;
  margin: 48px auto 0 auto;
  padding: 40px;
  width: 100%;
}

.form-group {
  margin-bottom: 48px;
  position: relative;
}

.form__txt {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 2px solid rgba(0, 0, 0, 0.16);
  color: inherit;
  font-family: inherit;
  font-size: 1.6rem;
  padding: 4px 8px;
  transition: 0.1s ease-in-out;
  width: 100%;
}

.form__txt:focus {
  border: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 2px solid rgba(0, 0, 0, 0.48);
  box-shadow: none;
  outline: none;
}

.form__txt:focus ~ .form__label {
  color: #3a3a59;
  font-size: 1.2rem;
  left: -2px;
  opacity: 1;
  top: -16px;
}

.form__textarea {
  height: 128px;
  max-width: 100%;
}

.form__label {
  font-size: 1.6rem;
  left: 0;
  opacity: 0.6;
  pointer-events: none;
  position: absolute;
  top: 4px;
  transition: all 0.2s ease;
}

.form__btn {
  -webkit-appearance: none;
  background-color: #e79c2a;
  background-image: none;
  border: none;
  border-radius: 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  display: block;
  font-size: 1em;
  font-size: 1.6rem;
  margin: 0 0 1em;
  padding: 0.6em 2em;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  width: 100%;
}

.form__btn:focus {
  outline: none;
}

.form__btn::-moz-foucus-inner {
  border: none;
  padding: 0;
}

.form__btn:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(1px);
}

.header {
  background: #2f87bf;
  height: 60px;
  top: 0;
  width: 100%;
}

.header-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
}

.header-logo {
  color: #fff;
  font-size: 1.6rem;
}

.header-nav {
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }
}

.header-nav__list {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.header-nav__list-item {
  margin-right: 32px;
}

.header-nav__list-link {
  color: #fff;
  font-size: 1.6rem;
}

.header-nav__list-link:hover {
  opacity: 0.5;
}

.inner {
  height: 100%;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 40px;
  width: 1016px;
}

@media screen and (max-width: 767px) {
  .inner {
    padding: 0 16px;
  }
}

.mv {
  background: linear-gradient(45deg, rgba(129, 234, 219, 0.9), #98e1fb, rgba(47, 135, 191, 0.9)), url("../img/dist/mv_bg.jpg") center center;
  background-size: cover;
  border-bottom: 0 solid #2f87bf;
  height: calc(100vh - 160px);
  margin-top: -60px;
}

@media screen and (max-width: 767px) {
  .mv {
    height: calc(100vh - 80px);
    text-align: center;
  }
}

.mv .mv-table {
  display: table;
  height: 100%;
  width: 100%;
}

.mv .mv-table-cell {
  color: #fff;
  display: table-cell;
  padding-top: 50px;
  vertical-align: middle;
}

.mv .mv-ttl {
  font-size: 4em;
  font-weight: 700;
  margin-bottom: 24px;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .mv .mv-ttl {
    font-size: 3.2em;
  }
}

.mv .mv-txtarea {
  margin-bottom: 64px;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .mv .mv-txtarea {
    margin-bottom: 48px;
  }
}

.mv .mv-txt {
  font-size: 2em;
}

@media screen and (max-width: 767px) {
  .mv .mv-txt {
    font-size: 1.6em;
    margin-bottom: 4px;
  }
}

.owl-prev,
.owl-next {
  border: 0px solid black;
  display: block !important;
  height: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
}

.owl-prev {
  left: -20px;
}

@media screen and (max-width: 767px) {
  .owl-prev {
    left: -10px;
  }
}

.owl-next {
  right: -20px;
}

@media screen and (max-width: 767px) {
  .owl-next {
    right: -10px;
  }
}

.owl-prev i,
.owl-next i {
  color: #2f87bf;
  transform: scale(4, 5);
}

.owl-nav .disabled i {
  color: #d1e6f4 !important;
}

#page-top {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  bottom: 48px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  cursor: pointer;
  height: 64px;
  position: fixed;
  right: 50px;
  transition: 0.2s ease-in-out;
  width: 64px;
  z-index: 99999;
}

#page-top:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 767px) {
  #page-top {
    bottom: 20px;
    height: 50px;
    right: 10px;
    width: 46px;
  }
}

#page-top .fas {
  color: #3a3a59;
  display: block !important;
  font-size: 32px;
  margin-top: 16px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  #page-top .fas {
    font-size: 20px;
  }
}

.price {
  margin-bottom: 24px;
}

.price__ttl {
  font-size: 2.4rem;
  margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .price__ttl {
    font-size: 1.8rem;
    text-align: center;
  }
}

.price__txt, .biz-hour__txt {
  font-size: 1.4rem;
  margin: 4px 0 0 48px;
}

@media screen and (max-width: 767px) {
  .price__txt, .biz-hour__txt {
    font-size: 1.2rem;
    margin-left: 0;
    padding: 0 4px;
  }
}

.profile {
  background-color: #f5fcff;
}

.profile-list {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 64px;
}

@media screen and (max-width: 767px) {
  .profile-list {
    margin-bottom: 40px;
  }
}

.profile-list-top {
  margin-right: 32px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .profile-list-top {
    display: block;
    margin: 0 auto;
    margin-bottom: 24px;
  }
}

.profile-img {
  background: url(../img/profile-img.jpg) center center no-repeat;
  background-color: red;
  background-size: 132%;
  border-radius: 50%;
  height: 160px;
  margin-bottom: 16px;
  width: 160px;
}

@media screen and (max-width: 767px) {
  .profile-img {
    margin-bottom: 8px;
  }
}

.profile-textarea {
  max-width: 100%;
  min-width: 120px;
  padding: 16px;
  width: calc(80% - 32px);
}

@media screen and (max-width: 767px) {
  .profile-textarea {
    width: 100%;
  }
}

.profile-textarea__txt:first-child {
  margin-bottom: 8px;
}

.profile-career {
  margin-top: 48px;
  width: 100%;
}

.service-list {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 56px;
}

@media screen and (max-width: 767px) {
  .service-list {
    margin-bottom: 16px;
  }
}

.service-list__item {
  margin: 0 0 48px 0;
  padding: 8px;
  position: relative;
  width: 33.333333%;
}

.service-list__item:nth-child(3n) {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .service-list__item:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .service-list__item {
    margin-right: 0;
    width: 100%;
  }
}

.service-list__icon {
  color: #2f87bf;
  font-size: 2.4em;
  left: 0;
  position: absolute;
  top: 0;
}

.service-list__disc {
  padding-left: 32px;
}

.service-list__ttl {
  margin-bottom: 24px;
}

@media screen and (max-width: 767px) {
  .service-list__ttl {
    font-size: 1.6rem;
    margin-bottom: 16px;
  }
}

.service-list__txt {
  font-weight: 300;
}

.service-skill {
  margin-left: 48px;
}

@media screen and (max-width: 767px) {
  .service-skill {
    margin-left: 0;
  }
}

.service-skill__ttl {
  font-size: 2.4em;
  margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .service-skill__ttl {
    text-align: center;
  }
}

.service-skill__txt {
  margin-left: 16px;
}

.skill__ttl {
  font-size: 2.4rem;
  margin-bottom: 32px;
}

@media screen and (max-width: 767px) {
  .skill__ttl {
    font-size: 1.8rem;
    text-align: center;
  }
}

.skill-list {
  text-align: center;
}

.skill__item {
  text-align: center;
}

.skill__img {
  height: 88px;
  margin-bottom: 8px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .skill__img {
    height: 44px;
  }
}

.skill__img01 {
  background: url(../img/dist/skill-img01.svg) center center no-repeat;
  background-size: contain;
}

.skill__img02 {
  background: url(../img/dist/skill-img02.svg) center center no-repeat;
  background-size: contain;
}

.skill__img03 {
  background: url(../img/dist/skill-img03.svg) center center no-repeat;
  background-size: contain;
}

.skill__img04 {
  background: url(../img/dist/skill-img04.svg) center center no-repeat;
  background-size: contain;
}

.skill__img05 {
  background: url(../img/dist/skill-img05.svg) center center no-repeat;
  background-size: contain;
}

.skill__img06 {
  background: url(../img/dist/skill-img06.svg) center center no-repeat;
  background-size: contain;
}

.skill__img07 {
  background: url(../img/dist/skill-img07.svg) center center no-repeat;
  background-size: contain;
}

.skill__img08 {
  background: url(../img/dist/skill-img08.svg) center center no-repeat;
  background-size: contain;
}

.skill__img09 {
  background: url(../img/dist/skill-img09.svg) center center no-repeat;
  background-size: contain;
}

.skill__img10 {
  background: url(../img/dist/skill-img10.svg) center center no-repeat;
  background-size: contain;
}

.skill__img11 {
  background: url(../img/dist/skill-img11.svg) center center no-repeat;
  background-size: contain;
}

.skill__img12 {
  background: url(../img/dist/skill-img12.svg) center center no-repeat;
  background-size: contain;
}

.skill__img13 {
  background: url(../img/dist/skill-img13.svg) center center no-repeat;
  background-size: contain;
}

.skill__img14 {
  background: url(../img/dist/skill-img14.svg) center center no-repeat;
  background-size: contain;
}

.skill__img15 {
  background: url(../img/dist/skill-img15.svg) center center no-repeat;
  background-size: contain;
}

.skill__img16 {
  background: url(../img/dist/skill-img16.svg) center center no-repeat;
  background-size: contain;
}

.skill__img17 {
  background: url(../img/dist/skill-img17.svg) center center no-repeat;
  background-size: contain;
}

.skill__img18 {
  background: url(../img/dist/skill-img18.svg) center center no-repeat;
  background-size: contain;
}

.skill__img19 {
  background: url(../img/dist/skill-img19.svg) center center no-repeat;
  background-size: contain;
}

.skill__img20 {
  background: url(../img/dist/skill-img20.svg) center center no-repeat;
  background-size: contain;
}

.skill__name {
  font-size: 1.2em;
  line-height: 2em;
}

.skill__quote {
  margin-top: 4px;
  text-align: right;
}

.skill__quote-link:hover {
  border-bottom: 1px solid #3a3a59;
}

.sns--header {
  margin-top: 16px;
  text-align: center;
}

.sns__link {
  font-size: 2.4rem;
  margin-right: 16px;
}

.sns__link:last-child {
  margin-right: 0;
}

.sns__link:hover {
  opacity: 0.5;
}

.table {
  background-color: #fff;
  border-collapse: collapse;
  font-size: 1.6rem;
  table-layout: fixed;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .table {
    font-size: 1.4rem;
  }
}

.table--price {
  margin: 0 16px 0 40px;
  width: calc(100% - 56px);
}

@media screen and (max-width: 767px) {
  .table--price {
    margin: 0;
    width: 100%;
  }
}

.table--biz-hour {
  margin: 0 40px 0 40px;
  width: calc(100% - 80px);
}

@media screen and (max-width: 767px) {
  .table--biz-hour {
    margin: 0;
    width: 100%;
  }
}

.table__tr {
  vertical-align: middle;
}

.table__th {
  background-color: #87bee1;
  border: 1px solid #3a3a59;
  padding: 16px;
  text-align: left;
  vertical-align: middle;
  width: 240px;
}

@media screen and (max-width: 767px) {
  .table__th {
    padding: 8px;
    width: 124px;
  }
}

.table__th--biz-hour {
  vertical-align: middle;
}

.table__td {
  border: 1px solid #3a3a59;
  padding: 16px;
  vertical-align: middle;
}

.works-list {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.works-list__item {
  margin: 0 0 48px 0;
  padding: 8px;
  position: relative;
  width: 33.333333%;
}

.works-list__item:nth-child(3n) {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .works-list__item:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .works-list__item {
    margin-right: 0;
    width: 100%;
  }
}

.works-list__disc {
  padding: 8px;
}

.works-list__ttl {
  margin-bottom: 16px;
}

.works-list__txt {
  font-size: 1.6em;
  font-weight: 300;
  margin-bottom: 8px;
}

.works-list__img {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 8px;
  width: 100%;
}

.works-list__cat {
  font-size: 1.4em;
}

.works-list__cat-txt {
  color: #2f87bf;
  font-size: inherit;
  margin: 0 4px;
}

.works-list__link {
  margin-top: 48px;
  padding-right: 16px;
  text-align: right;
}

.works-list__link-txt {
  font-size: 1.4em;
  padding-bottom: 2px;
}

.works-list__link-txt:hover {
  border-bottom: 1px solid #000;
  opacity: 0.5;
}

.works-btn {
  display: block;
  margin-top: 32px;
  text-align: center;
}
