body {
  // color: $font-color;
  font-family: 'Roboto', sans-serif;
  // font-family: '游ゴシック体', YuGothic, '游ゴシック', 'Yu Gothic', 'メイリオ', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', sans-serif;
  font-weight: 500;
  color: $font-color;
  text-align: justify;
}

h2 {
  font-size: 3.2rem;
  text-align: center;
  // font-weight: 700;
  margin-bottom: 56px;
  color: $base-color;

  @include mq('sp') {
    font-size: 2.4rem;
  }
}

h3 {
  font-size: 1.8rem;
  // font-weight: 700;
  letter-spacing: 0.15rem;

  @include mq('sp') {
    font-size: 1.6rem;
  }
}

h4 {
  font-size: 1.8rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.6;
  letter-spacing: 0.1rem;
  word-wrap: break-word;

  @include mq('sp') {
    font-size: 1.4em;
  }
}

span {
  font-size: 1.2rem;
}

section {
  padding: 80px 0;
  border-bottom: 1px solid $base-color;
  z-index: 10;

  @include mq('sp') {
    padding: 48px 0;
  }
}

*:focus {
  outline: none;
}
