body {
  // color: $font-color;
  // font-family: "Roboto", sans-serif;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 3.2em;
  word-wrap: normal;
  line-height: 1.5;
}

h2 {
  font-size: 3.2em;
  text-align: center;
  font-weight: 700;
  margin-bottom: 56px;
}

h3 {
  font-size: 1.8em;
}

p {
  font-size: 1.6em;
  line-height: 1.8;
  letter-spacing: 0.1em;
  word-wrap: break-word;
}

span {
  font-size: 1.2em;
}

section {
  padding: 80px 0;

  @include mq("sp") {
    padding: 40px 0;
  }
}
