.btn{
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
  transition: .2s ease-in-out;
  

  &:hover{
    opacity: .8;
  }

  
  .btn__txt{
    display: block;
    padding: 16px 24px;
  }
}

.btn--contact{
  background-color: #e79c2a;
  border: 1px solid #e79c2a;

}