.mv {
  background: linear-gradient(45deg, rgba(129, 234, 219, 0.9), rgba(152, 225, 251, 1), rgba(47, 135, 191, 0.9)), url($imgDir + '/mv_bg.jpg') center center;
  background-size: cover;
  height: calc(100vh - 160px);
  margin-top: -60px;
  border-bottom: 0 solid $base-color;

  @include mq('sp') {
    height: calc(100vh - 80px);
    text-align: center;
  }

  .mv-table {
    display: table;
    width: 100%;
    height: 100%;
  }

  .mv-table-cell {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    padding-top: 50px;
  }

  .mv-ttl {
    font-size: 4.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 0.2rem;
    margin-bottom: 24px;
    text-align: left;

    @include mq('sp') {
      font-size: 3.2rem;
    }

    .typed-cursor {
      @extend .mv-ttl;
      color: darken($base-color, 20%);
    }
  }

  .mv-ttl--typed {
    @extend .mv-ttl;
    color: darken($base-color, 20%);
    font-style: normal;
  }

  .mv-txtarea {
    margin-bottom: 64px;
    text-align: left;

    @include mq('sp') {
      margin-bottom: 48px;
    }
  }

  .mv-txt {
    font-size: 2em;
    font-weight: bold;

    @include mq('sp') {
      font-size: 1.6em;
      margin-bottom: 4px;
    }
  }
}
