.mv{
  background: linear-gradient(45deg, rgba(129,234,219, .9),rgba(152,225,251, 1),rgba(47,135,191, .9)),url(../img/mv_bg.jpg) center center;
  background-size: cover;
  height: calc(100vh - 200px);

  .mv-table{
    display: table;
    width: 100%;
    height: 100%;

  }

  .mv-table-cell{
    display: table-cell;
    vertical-align: middle;
    color: #fff;
  }

  .mv-ttl{
    font-size: 3.6em;
    font-weight: 700;
    margin-bottom: 24px;
  }

  .mv-wrapper{
    margin-bottom: 56px;
  }

  .mv-txt{
    font-size: 2.4em;
    margin-bottom: 8px;
  }
}