#page-top {
  position: fixed;
  bottom: 48px;
  right: 50px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  background-color: rgba(47, 135, 191, 0.9);
  height: 64px;
  width: 64px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;

  &:hover {
    background-color: $base-color;
  }

  @include mq('sp') {
    bottom: 20px;
    right: 10px;
    height: 50px;
    width: 46px;
  }

  .fas {
    font-size: 32px;
    text-align: center;
    display: block !important;
    margin-top: 16px;
    color: #fff;

    @include mq('sp') {
      font-size: 20px;
    }
  }
}
