.profile {
  .profile__txt {
    margin-bottom: 8px;
  }
}

.profile-list {
  @include flex($align: flex-start);
  margin-bottom: 64px;

  @include mq('sp') {
    margin-bottom: 40px;
  }
}

.profile-list-top {
  text-align: center;
  margin-right: 32px;

  @include mq('sp') {
    display: block;
    margin: 0 auto;
    margin-bottom: 24px;
  }
}

.profile-img {
  width: 168px;
  height: 168px;
  background: url(../img/profile-img.jpg) center center no-repeat;
  background-size: 132%;
  border-radius: 50%;
  background-color: #aaa;
  margin-bottom: 16px;

  @include mq('sp') {
    margin-bottom: 8px;
  }
}

.profile-right {
  width: calc(80% - 32px);
  padding: 16px;
  min-width: 120px;
  max-width: 100%;

  @include mq('sp') {
    width: 100%;
  }
}

.profile-career {
  width: 100%;
  margin-top: 48px;
}
