.service {
  // background-color: $bg-color;
}

.service-list {
  @include flex($align: stretch);
  // background-color: red;
  margin-bottom: 48px;

  @include mq('sp') {
    margin-bottom: 16px;
  }
}

.service-list__item {
  position: relative;
  width: 33.333333%;
  // background-color: #eee;
  margin: 0 0 48px 0;
  padding: 8px;

  &:nth-child(3n) {
    margin-right: 0;

    @include mq('sp') {
      margin-right: 0;
    }
  }

  @include mq('sp') {
    width: 100%;
    margin-right: 0;
  }
}

.service-list__icon {
  position: absolute;
  top: 0;
  left: 0;
  color: $base-color;
  font-size: 2.4em;
}

.service-list__disc {
  padding-left: 32px;
}

.service-list__ttl {
  margin-bottom: 24px;

  @include mq('sp') {
    margin-bottom: 16px;
    font-size: 1.6rem;
  }
}

.service-list__txt {
  // font-size: 1.6em;
  font-weight: 300;
}

.service-skill {
  margin-left: 48px;

  @include mq('sp') {
    margin-left: 0;
  }
}

.service-skill__ttl {
  font-size: 2.4em;
  margin-bottom: 16px;

  @include mq('sp') {
    text-align: center;
  }
}

.service-skill__txt {
  margin-left: 16px;
}
