.works {
}

.works-list {
  @include flex($align: stretch);
  // background-color: red;
}

.works-list__item {
  position: relative;
  width: 33.333333%;
  // background-color: #eee;
  margin: 0 0 48px 0;
  padding: 8px;

  &:nth-child(3n) {
    margin-right: 0;

    @include mq("sp") {
      margin-right: 0;
    }
  }

  @include mq("sp") {
    width: 100%;
    margin-right: 0;
  }
}

.works-list__disc {
  padding: 8px;
}

.works-list__ttl {
  margin-bottom: 16px;
}

.works-list__txt {
  font-size: 1.6em;
  font-weight: 300;
  margin-bottom: 8px;
}

.works-list__img {
  width: 100%;
  margin-bottom: 8px;
}

.works-list__cat {
  font-size: 1.4em;
}

.works-list__cat-txt {
  color: $base-color;
  font-size: inherit;
  margin: 0 4px;
}
.works-list__link {
  text-align: right;
  padding-right: 16px;
  margin-top: 48px;
}

.works-list__link-txt {
  font-size: 1.4em;
  padding-bottom: 2px;

  &:hover {
    border-bottom: 1px solid #000;
  }
}

.works-btn {
  display: block;
  text-align: center;
}
